body{
    font-family: 'SF Pro Display', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #cccccc;
}
button:focus{
    outline: none;
}
.logo{
    margin-left: 40px;
    font-weight: bold;
    font-size: 30px;
}
.btn-cart{
    background-color: #fafafa;
    margin-right: 40px;
    padding: 10px 20px;
    border: 1px solid transparent;
    color: #2f2a2d;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
.btn-cart:hover{
    background-color: transparent;
    border-color: #fafafa;
    color: #fafafa;
}
.btn-cart, .logo{
    align-self: center;
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    margin: 0 0 5px 0;
}
.product-item{
    width: 310px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    border: 1px solid #cccccc;
}
img {
    width: 100%;
    height: auto;
}
.desc {
    padding: 15px;
}
.desc h3 {
    color: blue;
}

.cart{
    display: flex;
    position: relative;
}
.cart-block{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
    border-radius: 5px;
    box-sizing: border-box;
    right: 0;
    top: 130%;
    position: absolute;
    background-color: white;
    padding: 20px;
    color: black;
    width: 300px;
}

.invisible{
    display: none;
}
.cart-block:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 35px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.buy-btn {
    width: 290px;
    height: 50px;
    color: white;
    background-color: darkslateblue;
    font-size: 16px;
    text-transform: uppercase;
}

.buy-btn:hover {
    background-color: red;
}

.del-btn{
    margin-top: 5px;
    background-color: #2f2a2d;
    padding: 5px 15px;
    border: 1px solid transparent;
    color: #fafafa;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
.del-btn:hover{
    background-color: #fafafa;
    color: #2f2a2d;
    border: 1px solid #2f2a2d;
}
.cart-item {
    display: flex;
    justify-content: space-between;
}
.cart-item:not(:last-child){
    margin-bottom: 20px;
}
.product-bio{
    display: flex;
}
.cart-item img{
    width: 40px;
    align-self: flex-start;
    margin-right: 15px;
}
.product-single-price{
    color: #474747;
    font-size: 0.5em;
}
.product-price{
    margin-left: 30px;
}
.product-desc{
    max-width: 150px;
}
.product-quantity {
    margin-top: 15px;
    font-size: 0.75em;
}
.right-block{
    text-align: right;
}
.btn-search {
    background-color: transparent;
    border: none;
    color: #fafafa;
    font-size: 1.2em;
    bottom: 5px;
    right: 0;
}
.search-form{
    position: relative;
    margin-right: 50px;
    display: inline-block;
}
.search-field:focus{
    outline: none;
}
.search-field {
    height: 20px;
    font-size: 20px;

}
.error-msg {
    padding: 30px 20px;
    background-color: red;
    color: white;
    position: relative;
}
.error-block {
    background-color: rgba(0,0,0, .5);
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
}
.close-btn {
    font-size: 1.5em;
    top: -40px;
    position: absolute;
    right: 0;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
}

